<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="./css/bootstrap.min.css" />
      <title>Consultorio Pediatrico</title>
   </head>
   <body>
      <div class="container py-3">
         <div class="row">
            <div class="col mb-3">
               <button class="btn btn-primary rounded-sm" id="btn_form_add_cita">
                  Añadir nueva cita
               </button>
            </div>
         </div>
         <table class="table" id="table">
            <thead class="lala">
               <tr>
                  <th scope="col">No Paciente</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">edad</th>
                  <th scope="col">Acciones</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" class="py-3">1</th>
                  <td class="py-3">Mark</td>
                  <td class="py-3">Otto</td>
                  <td class="py-3">@mdo</td>
                  <th scope="col" class="py-2">
                     <button class="btn btn-sm btn-info">Ver descripcion</button>
                  </th>
               </tr>
               <tr>
                  <th scope="row" class="py-3">1</th>
                  <td class="py-3">Mark</td>
                  <td class="py-3">Otto</td>
                  <td class="py-3">@mdo</td>
                  <th scope="col" class="py-2">
                     <button class="btn btn-sm btn-info">Ver descripcion</button>
                  </th>
               </tr>
               <tr>
                  <th scope="row" class="py-3">1</th>
                  <td class="py-3">Mark</td>
                  <td class="py-3">Otto</td>
                  <td class="py-3">@mdo</td>
                  <th scope="col" class="py-2">
                     <button class="btn btn-sm btn-info">Ver descripcion</button>
                  </th>
               </tr>
            </tbody>
         </table>
      </div>

      <script src="./js/app.js"></script>
   </body>
</html>
